body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;    
    background-color: #3498db;
    height: 100vh; 
    
    display: flex;
    flex-direction: column;
}

/*popup Styles*/
dialog {
	padding: 1rem 3rem;
	background: white;
	max-width: 400px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	h2 {
		font-weight: 600;
		font-size: 2rem;
		padding-bottom: 1rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: 0.5rem 0;
		a {
			&:visited {
				color: rgb(var(--vs-primary));
			}
		}
	}
}


header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    margin-right: 10%;
}

.logo {
    margin-left: 10%;
}

.logo img {
    max-height: 70px;
}



nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.mobile-menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.mobile-menu {
    display: none;
    position: fixed;
    top: 60px;
    /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

.mobile-menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}


/* Responsive Styles */

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }
    .mobile-menu-icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;
        width: 68px;
    }


    .line {
        fill: none;
        stroke: rgb(255, 255, 255);
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1);
        stroke-dashoffset: 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6;
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6;
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6;
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6;
    }
    .mobile-menu.active {
        display: block;
    }

/*mobile menu animation */
.mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -100%; 
    width: 70%; 
    height: 100%;
    background: rgba(0, 0, 0, 0.7); 
    overflow: hidden;
    transition: right 1s;
}

.mobile-menu.open {
    right: 0;
}

.mobile-menu ul {
    padding: 20px;
    list-style: none;
    text-align: right;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 24px; 
    transition: color 0.3s;
}

.mobile-menu a:hover {
    color: rgb(80, 179, 255);
}



}

/*main style */

main {
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
}

.center-content {
    max-width: 800px;
    margin: 0 auto;
    color: #fff;
}

h1 {
    font-size: 36px;
}


.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
}

.bn37 {
    border-color: transparent;
    background-color: #fff;
    color: #6e6969;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
}
    
.bn37:hover {
    transform: perspective(1px) scale3d(1.044, 1.044, 1) translateZ(0) !important;
}



/*footer style */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.footer-links {
    display: flex;
    justify-content: space-around;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
}


.demo-close{	
    position: absolute;
	top: 0;
	right: 0;
	background: rgba(black, 0.3)
}


